.editcommodities h2{
    font-size: 24px;
    font-weight: 700;
    color: rgba(14, 50, 74, 1);
}
.editcommodities .linkview{
    color: rgba(24, 174, 201, 1);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.editcommodities label{
    font-weight: 600;
    font-size: 18px;
    color: rgba(14, 50, 74, 1);
}
.editcommodities .input-section input{
    width: 100%;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 9px 26px;
}
.editcommodities .save-btn{
    background-color: rgba(14, 50, 74, 1);
    color: #fff;
    border: 0;
    border-radius: 25px;
    padding: 6px 30px;
}
