
.categorylist .head-text h2
{
    font-weight: 600;
    font-size: 24px;
    color: #0B2339;
}
.categorylist .head-text p
{
    font-size: 14px;
    font-weight: 600;
    color: #A9A9A9;
}


/* table */
.categorylist .category-table th{
    color: #A9A9A9 !important;
    padding-left: 31px;
}
.categorylist .category-table td
{
    color: #0B2339 !important;
    font-size: 12px ;
    padding-left: 3%;

}
.categorylist .category-table tbody tr
{
    transition: .2s all ease-in-out;
}
.categorylist .category-table tbody tr:hover
{
    background: rgba(0, 96, 190, 0.1);
}
.categorylist .category-table .btn-table
{
    text-align: center;
    padding: 1% 3%;
    border: 1px solid #0E324A;
    border-radius: 20px;
    margin-right: 4%;
    color: #0B2339;
    background-color: transparent;
}
.categorylist .category-table .btn-table.active
{
    color: #fff;
    background-color: #0B2339;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color: #0B2339 !important;
  
    border-radius: 20px !important;
  
  }
  .css-sghohy-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #0B2339 !important;
    
    border-radius: 20px !important;
  }
  .css-sghohy-MuiButtonBase-root-MuiButton-root.Mui-disabled{
    color: #fff !important;
  }