/* personinfo */
.addshipper h3 {
  color: #0e324a;
  font-size: 18px;
  font-weight: 700;
}
.addshipper label {
  color: #0e324a;
  font-weight: 600;
  font-size: 18px;
}
.addshipper .input-box {
  border: 1px solid #b2b2b2;
  border-radius: 20px;
  color: #000;
  width: 90%;
  height: 48px;
}
.addshipper .input-box::placeholder {
  color: #b2b2b2;
}
.addshipper input[type="file"]::-webkit-file-upload-button {
  height: 100%;
  width: 30%;
  padding: 10px;
  border: 0;
  border-radius: 20px;
}
.addshipper .btn-save {
  background: #0e324a;
  border-radius: 42px;
  color: #fff;
  font-weight: 700;
  width: 12%;
  border: 0;
  padding: 6px 0px;
  margin-left: 40%;
  font-size: 16px;
}
.disabled {
  opacity: 0.5;
}

.hasError {
  border: 2px solid red !important;
}
