:root{
    --text-color:
        color: #CBFF39;
}


.side-nav ul{

    text-decoration: none;
}
.nav-item{
    /* width: 274px; */
    /* height: 60px; */

}
/* .nav-item span{
    font-size: 18px;
} */
.nav-item .svg-icon{
    fill: #fff;
}
/* .nav-item:hover {
    background-color: #244664;
} */
.nav-item:hover span{
    color: #CBFF39;
 }
.nav-item:hover .svg-icon{
    fill: #CBFF39;
}

.main-containt{
    background-color: #fff;
    min-height: 100vh;
    /* letter-spacing: 0.02em; */
}
/* dropdown-sidbar */
/* .btn-sidbar-list:hover{
    background-color: transparent;
 
    font-weight: bold;
    font-size: 18px;
    border: 0;
}
.btn-sidebar{
    background-color: transparent;
    border: none;
}
.btn-sidebar:hover{
    background-color: transparent;
    border: none;
}
.btn-sidebar:active{
    background-color: transparent;
    border: none;
}
.btn-sidebar:not(.btn-check)+.btn:active{
    background-color: transparent;
    border: none;
} 
.btn-sidebar-inside{
    background-color: transparent;
    border: none;

}
.btn-sidebar-inside:hover{
    background-color: transparent;
    border: none;

}
.btn-sidebar-inside:active{
    background-color: transparent;
    border: none;
} */

/* new-update */
.item{
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}
.svg-icon{
    fill: #fff;
}
