p
{
    padding: 0;
}
.AllItems
{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.AllItems .container-fluid,
.Items .container-fluid
{
    display: flex;
    align-items: center;
    flex-direction: row;
}
/* input */
.AllItems input[type="file"]::-webkit-file-upload-button{
    color: #000;
    background-color: transparent;
    border: 1px solid #ccc;
    font-size: 10px;
    height: 50px;
    width: 100px;
    border-radius: 25px 0 0 25px;
    padding: 11px 10px;
}

.AllItems .btn-Items
{
    background-color: #0B2339;
    border: none;
    margin-left: 6rem;
    padding: .7rem 2rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
    border-radius: 25px;
}
.box-left 
{
    /* display: flex;
    flex-direction: row; */
}
.box-left .Items-card
{   
    padding: 1rem;
    background-color: #E0E0E0;
    margin-right: 2rem;
    border-radius: 16px;
}
.box-left .Items-card-blue
{   
    padding: 1rem;
    background: #18AEC9;
    margin-right: 2rem;
    border-radius: 16px;
    color: #fff;
}
.box-left .Items-card-blue h4
{   
    color: #fff !important;
}
.box-left .Items-card h4
{   
    color: #0E324A;
    font-weight: 600 !important;
}
.box-right
{
    margin-left: auto;
}

.Items .box-left
{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.head-text 
{
    margin-right: 2rem;
}
.head-text h2
{
    font-weight: 600;
    color: #0B2339;
}
.head-text p
{
    font-size: 14px;
    font-weight: 600;
    color: #A9A9A9;
}
.AllItems .input-head span
{
    margin-bottom: .8rem;
    font-size: 14px;
    font-weight: 700;
    color: #0B2339
}
.AllItems .input-group span
{
    background-color: transparent;
    border: none;
    margin-right: -30px;
    z-index: 99;
    margin-top: 7px;
    color: #A9A9A9 !important;
}
.AllItems .input-group input
{
    border-radius: 20px !important;
    padding-right: 10rem !important;
    color: #A9A9A9 !important;
}
.print-box , .excel-box{
    background-color: transparent !important;
    color: #A9A9A9;
    cursor: pointer;
    border-radius: 20px;
    padding: 6px 18px;
    border: 1px solid #A9A9A9;
    box-shadow: 0;
}
/* table */
.Items-table{
    border-top: 1px solid #ccc;
}
.Items-table th{
    color: #A9A9A9 !important;
    padding-left: 4 0px;
    font-size: 12px;
    padding-top: 1rem;
}
.Items-table td
{
    color: #0B2339 !important;
    font-size: 12px !important;
    /* text-align: center; */
}
.Items-table tbody tr
{
    transition: .2s all ease-in-out;
}
.partner-table tbody tr:hover
{
    background: rgba(0, 96, 190, 0.1);
}
.Items-table .btn-table
{
    text-align: center;
    padding: 8px 16px;
    border: 1px solid #0E324A;
    border-radius: 20px;
    margin-right: 1rem;
    color: #0B2339;
    background-color: transparent;
}
.Items-table .btn-table.active
{
    color: #fff;
    background-color: #0B2339;
}