.orderhead .text-head
{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 32px;
    color: #244664;
}
.orderhead
{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.orderhead
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.orderhead .img-head
{
    margin-left: auto;
}
.orderhead .backhuling
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
}
.orderhead .backhuling .orange
{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: orange;
}
.order-info
{
    padding-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.order-info .info-box
{
    display: flex;
    flex-direction: column;
}
.order-info .info-box span
{
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #A9A9A9;
    margin-bottom: 1rem;
}
.order-info .info-box h4
{
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #0E324A;    
}
.order-info .info-box .btn-info
{
    background: #18AEC9;
    border-radius: 23px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: .6rem 2rem .6rem 2rem;
}
.element-order
{
    padding-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.element-order .element-box
{
    margin-right: 1rem;
    margin-bottom: 3rem;
}
.element-order .head-element
{
    display: flex;
    flex-direction: row;
    margin-bottom: .6rem;
}
.element-order .head-element svg
{
    margin-right: .5rem;
}
.element-order .head-element .element-info
{
    font-weight: 600;
    font-size: 14px;
    color: #A9A9A9;
}
.element-order .text-element h4
{
    font-weight: 400;
    font-size: 16px;
    padding: 0 20px;
    /* letter-spacing: 0.02em; */
    color: #0E324A;
}
.br-element
{
    border-right: 2px solid #D9D9D9;
}
.filesbox
{
    padding-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.filesbox .head
{
    font-weight: 600;
    font-size: 18px;
    color: #A9A9A9;
    margin-bottom: 1.5rem;
}
.filesbox .card-order
{
    border-radius: 15px;
    border: 1px solid #c7c3c3;
    padding: 1rem;
    /* margin-right: 1.5rem; */
}
.filesbox .img-box
{
    width: 100%;
    height: 124px;
    background-color: #A9A9A9;
    margin-bottom: 1rem;
}
/* =========== */
.orderdetails .mapsection .headingdetails h2{
    font-weight: 700;
    color: #244664;
}
.orderdetails .mapsection .headingdetails p{
    color: #B0B0B0;
}
.orderdetails .mapsection .headingdetails h5{
    color: #244664;
    font-weight: 500;
}
.orderdetails .mapsection .headingdetails span{
    color: #484A58;
}
.orderdetails .mapsection .mapbox{
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    height: 100%;
}
.orderdetails .mapsection .locations p{
    color: #0E324A;
    font-weight: 700;
    font-size: 500;
}
.orderdetails .drivers p{
    color: #232323;
    font-weight: 500;
}
.orderdetails .drivers span{
    color: #484A58;
    font-size: 14px;
    font-weight: 400;
}
/* tables-new */
.orderdetails .MuiTableCell-sizeMedium{
 color: #0E324A;
 font-weight: 600;
}
.orderdetails .css-tucewo span{
    color: #0E324A;
    font-weight: 600;
}
.orderdetails .MuiBox-root {
    color: #757577;
}

/* ================ */
.ordertable .table thead tr th
{
    font-weight: 600;
    font-size: 15px;
    color: #A9A9A9;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.ordertable .table tbody .text-orange
{
    color: orange;
}
.ordertable .table tbody .text-orange
{
    color: orange;
}
.ordertable .table tbody .icon-table-blue
{
    
    display: inline-block;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #18AEC9;
    color: #fff;
    border-radius: 50%;
}
.ordertable .table tbody .icon-table-red
{
    
    display: inline-block;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    color: #fff;
    border-radius: 50%;
}
.ordertable .table tbody .table-btn
{
    padding: .6rem 2rem .6rem 2rem;
    background-color: #0E324A;
    color: #fff;
    border: none;
    border-radius: 25px;
}
.ordertable .table tbody .table-btn-red
{
    padding: .6rem 2rem .6rem 2rem;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 25px;
}

.ordertable .table tbody .table-btn-green
{
    padding: .6rem 2rem .6rem 2rem;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 25px;
}
.ordertable .table tbody .text-blue
{
    color: #18AEC9;
}

