.sidebar{
   height: auto;
   /* width: 900px !important ; */
   z-index: 1;
   min-width: 216px;
   background-color: #0B2339;
   color: white;
   padding-bottom: 20px;
   border: none;
   box-shadow: 4px 4px 17px -5px #000000FA;
}
 
 .sidebar span{
    font-size: 14px;
    font-weight: 600;
 }

 .acc-sidebar button{
    width: 100%;
    border: 0;
    position: relative;
    background-color: #0B2339;
    color: white;
    text-align: left;
    padding: 20px 22px;

 }
 .acc-sidebar button h3{
    font-size: 12px ;
    font-weight: 600 ;
 }
 .acc-sidebar button h4{
    font-size: 12px ;
    font-weight: 600 ;
    padding: 0 10px;
 }
 .acc-sidebar .accordion-body{
    padding-left: 22px;
 }
 .acc-sidebar .accordion-body p{
    padding: 10px 10px;
    font-weight: 600;
    font-size: 12px;
 }
 .acc-sidebar .bg-inside{
    background-color: #244664;
 }
   .downarrow {
      transition: all 0.3s ease-in-out;
      position: absolute;
      left: 80%;
      transform: rotate(-90deg);
   }
  .downarrow path
  {
   fill: #CBFF39 ;
 }
  .rightarrow{
   
   position: absolute;
    left: 80%;
   transition: all 0.3s ease-in-out;

 }
 .svgicon path{
   fill: #CBFF39 ;
   }
 .activeside{
    color: #CBFF39 !important;
    background-color: #244664 !important;
 }
 .activeside .svgicon path{
   fill: #CBFF39 ;
   }
 /* .acc-sidebar button:disabled {
    color: #CBFF39;
 }
 .acc-sidebar button:focus:active:not(:focus-visible){
    color: #CBFF39;
 } */
