.login{
    /* background-color: #0e4579 !important; */
    color: #fff;
}

.login .btn-submit{
    background-color: #0e4579 !important;
}
.login .btn-submit:focus{
    background-color: #0e4579 !important;
    border-radius: 20px !important;
    color: #fff !important;
}
.login .btn-outline-info{
    color: #fff !important;
    font-weight: 600;
    border: 0 !important;
    border-radius: 20px !important;
    width: 15%;
}