.viewshipper .header-card
{
    padding: 0.5rem 2rem;
    background-color: #F5F5F5;
}
.viewshipper .header-card .br-right
{
    border-right: 1px solid #D9D9D9;
}
.viewshipper .header-card .card-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.viewshipper .header-card .name-user
{
    font-size: 24px;
    font-weight: 600;
    color: #244664;
}
.viewshipper .header-card .head-card-text{
    font-weight: 500;
    font-size: 28px;
    color: #244664;
}

.viewshipper .header-card .data-card 
{
    width: 100%;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.viewshipper .header-card .data-card i
{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.viewshipper .header-card .data-card span
{
    font-weight: 600;
    font-size: 14px;
    color: #0E324A;
}
.viewshipper .header-card .data-card a
{
    font-weight: 600;
    font-size: 14px;
    color: #18AEC9;
}
/* .viewshipper .freelancer-content
{
    margin-top: 2rem;
}
.viewshipper .freelancer-content .table .btn-table
{
    background: #0085FF;
    border-radius: 23px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.viewshipper .freelancer-content .table .btn-blur-table
{
    background: #0085FF;
}
.freelancer-content .table .btn-red-table
{
    background: #F80F10;
}
.freelancer-content .table .btn-blue-light-table
{
    background: #18AEC9;
}
.freelancer-content .table .btn-orange-table
{
    background: #FF8A00;
}
.freelancer-content  table.table th, table.table td {
    font-weight: 700 ;
    font-size: 12px ;
    color: #0E324A;
} */
